header {
    display: flex;
    align-items: center;
    width: auto;
    height: 150px;
    padding: 0 25px !important;
    h1 {
        font-size: 1.8em;
        margin-right: auto;
    }
    nav ul {
        display: flex;
        list-style-type: none;
        gap: 50px;
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {

	header { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        h1 {
		font-size: 1.2em;
        margin: 0 auto;
	    }
        nav ul {
            gap: 15px;
        }
    }
}

@media screen and (max-width: 400px) {

    header {
        nav ul {
        font-size: 0.8em;
        }
    }
}