#presentation-container {
    margin-top: 25px;
    .presentation-img-text-cv {
        overflow: hidden;
        display: flex;
        align-items: center;
        .presentation-img {
            width: 640px;
            height: 473px;
            border-radius: 25px;
            object-fit: cover;
            animation: imgOpacity 3s ease-in-out;
        }
        @keyframes imgOpacity {
            from {
                transform: translateX(-100vh);
            }
            to {
                transform: translateX(0);
            }
        }
        .presentation-text-and-cv {
            display: flex;
            flex-direction: column;
            gap: 25px;
            animation: textTranslation 3s ease-in-out;
            p {
                margin-left: 50px;
                font-size: 1.2em;
            }
            .oc-link {
                margin: 15px auto 0 auto;
            }
            .cv {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5% auto 0 auto;
                text-align: center;
                width: max-content;
                gap: 15px;
                img {
                    width: 50px;
                    height: 64px;
                }
            }
            @keyframes textTranslation {
                from {
                   transform: translateY(100vh);
                }
                to {
                    transform: translateY(0vh);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    
    #presentation-container {
        height: auto;
        margin-bottom: 25px;
        .presentation-img-text-cv {
        display: flex;
        flex-direction: column;
            .presentation-img {
                width: 320px;
                height: 225.5px;
            }
            .presentation-text-and-cv {
                margin-top: 25px;
                p {
                    margin-left: 0;
                }
            }
        }
    }
}